.rodape {
    background-color: var(--fundo__rodape);
    text-align: center;
    padding: 6rem 0;
}

.rodape__titulo {
    color: var(--preto__titulo);
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: -0.02em;
    margin-bottom: 1.25rem;
}

.rodape__texto {
    color: var(--cinza-claro);
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 2.5rem;
}

.rodape__formulario {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.rodape__email {
    color: var(--cinza-claro);
    border: 1px solid var(--formulario__email);
    border-radius: 8px;
    box-shadow: 0px 1px 2px var(--formulario__fundo);
    font-weight: 400;
    padding: 0.75rem 0.875rem;
    width: 22.5rem;
}

.rodape__botao-cadastrar {
    color: var(--branco);
    background-color: var(--vermelho-sangue);
    padding: 0.75rem 1.25rem;
    border: 1px solid var(--vermelho-sangue);
    border-radius: 8px;
    box-shadow: 0px 1px 2px var(--formulario__fundo);
}

.rodape__copyright {
    color: var(--cinza-mais-claro);
    font-weight: 400;
    margin: 2rem 6rem;
}