:root {
    --branco: #FFFFFF;
    --borda__vagas: #EAECF0;
    --cinza-claro: #667085;
    --cinza-mais-claro: #98A2B3;
    --preto__logo: #3A404E;
    --preto__titulo: #101828;
    --vermelho-sangue: #8E2424;
    --fundo__titulo-vagas-abertas: rgba(142, 36, 36, 0.05);
    --fundo__colaboradores: rgba(196, 25, 25, 0.03);
    --fundo__rodape: #F9FAFB;
    --formulario__email: #D0D5DD;
    --formulario__fundo: rgba(16, 24, 40, 0.05);
}

body {
    color: var(--cinza-claro);
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
}

.container {
    margin: 0 5rem;
}